@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  background-color: #faf8ff;
}

/* TÍTULO */
.caja-degradado {
  background: linear-gradient(to right, #c2b1e5, #ffcab3);
  text-align: center;
  padding: 60px 20px;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

/* TARJETAS */
.contenedor-tarjetas {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.tarjeta {
  min-width: 250px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.tarjeta:hover {
  transform: translateY(-10px);
}

.tarjeta svg {
  width: 30px;
  height: 30px;
  margin: 10px 0;
}

.color-1 { background-color: #ffd5c2; }
.color-2 { background-color: #fff1bf; }
.color-3 { background-color: #d4c9f2; }

/* CONTENEDOR DEL FORMULARIO */
.formulario-contacto {
  max-width: 520px;
  background: #f7f6fb;
  margin-left: auto;
  margin-right: 0;
  padding: 40px 5%; 
  
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
.seccion-contacto {
  padding: 10px 30px; /* El 5% le da un margen elegante a los lados */
}

/* FILAS */
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

/* CAMPOS */
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* INPUTS */
.form-group input,
.form-group textarea {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #555;
}

/* BOTÓN */
.boton-enviar {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #4b3a6a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
h2 {
  text-align: center;
  width: 100%;      
  margin-bottom: 30px; 
  font-family: "Figtree", sans-serif;
}

h3 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px; 
  font-family: "Figtree", sans-serif;

}


